%div.signup-box
  %p.center= flash[:notice] if flash[:notice]
  %h1.center.create Login
  <br>
  %div{:class => 'login'}
    = form_tag login_path do
    
      %br
      = label :user, :email, 'Email'
      %br.mobile-nav
      = text_field :user, 'email', class: 'form-control email-input', value: flash[:email]
      %br
      = label :user, :password, 'Password'
      %br.mobile-nav
      = password_field :user, 'password', class: 'form-control password'
      %br
      = submit_tag 'Log In', class: 'btn btn-dark btn-center', id: "login-btn"
      